.authBtn{
    float: left;
    border: none;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.authBtn:hover {
    background-color: #ddd;
    color: black;
}